In [24]:
import numpy as np
import pandas as pd

In [18]:
hist_stainfo = np.load('/home/sdybing/mlaapde/histdata_stainfo_wcoordinates_weventids.npy')

In [19]:
hist_stainfo

array([['IU.GUMO', '144.8684', '13.5893', 'usp0009qb4'],
       ['IU.GUMO', '144.8684', '13.5893', 'usp0009qb4'],
       ['IU.GUMO', '144.8684', '13.5893', 'usp0009qb4'],
       ...,
       ['TA.M48A', '-71.9259', '44.2401', 'usb000h4jh'],
       ['TA.M48A', '-71.9259', '44.2401', 'usb000h4jh'],
       ['II.BORG', '-21.3268', '64.7474', 'usb000h4jh']], dtype='<U32')

In [15]:
hist_eqs = np.genfromtxt('/home/sdybing/mlaapde/2000-2013_catalog.csv', delimiter = ',', dtype = 'str', skip_header = 1) # M7.5+ 01/01/2000 - 07/31/2013;

In [42]:
hist_eqs

array([['2000-03-28T11:00:22.510Z', '22.338', '143.73', '126.5', '7.6',
        'mwc', '', 'us', 'usp0009qb4', '2022-04-29T18:35:42.761Z', 'us',
        'hrv'],
       ['2000-05-04T04:21:16.210Z', '-1.105', '123.573', '26', '7.6',
        'mwc', '', 'us', 'usp0009sbh', '2022-04-29T19:16:21.382Z', 'us',
        'hrv'],
       ['2000-06-04T16:28:26.170Z', '-4.721', '102.087', '33', '7.9',
        'mwc', '379', 'us', 'usp0009txv', '2022-04-29T18:39:33.008Z',
        'us', 'hrv'],
       ['2000-06-18T14:44:13.310Z', '-13.802', '97.453', '10', '7.9',
        'mwc', '405', 'us', 'usp0009ut0', '2022-04-29T18:42:02.193Z',
        'us', 'hrv'],
       ['2000-11-16T04:54:56.740Z', '-3.98', '152.169', '33', '8', 'mwc',
        '254', 'us', 'usp000a3qq', '2022-04-29T19:26:13.204Z', 'us',
        'hrv'],
       ['2000-11-16T07:42:16.930Z', '-5.233', '153.102', '30', '7.8',
        'mwc', '294', 'us', 'usp000a3sp', '2022-04-29T19:16:32.829Z',
        'us', 'hrv'],
       ['2000-11-17T21:01:56.490Z', '-5.496', '151.781', '33', '7.8',
        'mwc', '346', 'us', 'usp000a45f', '2022-04-29T18:58:50.243Z',
        'us', 'hrv'],
       ['2001-01-01T06:57:04.170Z', '6.898', '126.579', '33', '7.5',
        'mwc', '324', 'us', 'usp000a70h', '2022-04-29T19:03:22.544Z',
        'us', 'hrv'],
       ['2001-01-13T17:33:32.380Z', '13.049', '-88.66', '60', '7.7',
        'mwc', '427', 'us', 'usp000a7m5', '2022-04-29T19:04:33.753Z',
        'us', 'hrv'],
       ['2001-01-26T03:16:40.500Z', '23.419', '70.232', '16', '7.7',
        'mwc', '472', 'us', 'usp000a8ds', '2022-04-29T19:06:14.319Z',
        'us', 'hrv'],
       ['2001-06-23T20:33:14.130Z', '-16.265', '-73.641', '33', '8.4',
        'mww', '518', 'official', 'official20010623203314130_33',
        '2022-04-29T19:23:29.022Z', 'us', 'official'],
       ['2001-07-07T09:38:43.520Z', '-17.543', '-72.077', '33', '7.6',
        'mwc', '398', 'us', 'usp000aj40', '2022-04-29T19:25:29.098Z',
        'us', 'hrv'],
       ['2001-10-19T03:28:44.460Z', '-4.102', '123.907', '33', '7.5',
        'mwc', '234', 'us', 'usp000ar78', '2022-04-29T19:37:29.631Z',
        'us', 'hrv'],
       ['2001-11-14T09:26:10.010Z', '35.946', '90.541', '10', '7.8',
        'mwc', '368', 'us', 'usp000asvm', '2022-04-29T19:39:59.331Z',
        'us', 'hrv'],
       ['2002-03-05T21:16:09.130Z', '6.033', '124.249', '31', '7.5',
        'mwc', '321', 'us', 'usp000azqw', '2022-05-02T15:45:49.701Z',
        'us', 'hrv'],
       ['2002-08-19T11:01:01.190Z', '-21.696', '-179.513', '580', '7.7',
        'mwc', '670', 'us', 'usp000ba6g', '2022-05-02T16:14:14.819Z',
        'us', 'hrv'],
       ['2002-08-19T11:08:24.310Z', '-23.884', '178.495', '675.4', '7.7',
        'mwc', '302', 'us', 'usp000ba6m', '2022-05-02T16:11:09.941Z',
        'us', 'hrv'],
       ['2002-09-08T18:44:23.710Z', '-3.302', '142.945', '13', '7.6',
        'mwc', '428', 'us', 'usp000bbpf', '2022-05-02T16:07:44.247Z',
        'us', 'hrv'],
       ['2002-10-10T10:50:20.570Z', '-1.757', '134.297', '10', '7.6',
        'mwc', '375', 'us', 'usp000be54', '2022-05-02T16:11:29.357Z',
        'us', 'hrv'],
       ['2002-11-03T22:12:41.518Z', '63.5141', '-147.4529', '4.2', '7.9',
        'mw', '', 'ak', 'ak002e435qpj', '2022-07-12T20:11:15.869Z', 'ak',
        'ak'],
       ['2003-01-22T02:06:34.610Z', '18.77', '-104.104', '24', '7.6',
        'mwb', '551', 'us', 'usp000bnyr', '2022-05-02T16:23:52.048Z',
        'us', 'us'],
       ['2003-07-15T20:27:50.530Z', '-2.598', '68.382', '10', '7.6',
        'mwc', '522', 'us', 'usp000c2ka', '2022-05-02T16:39:11.559Z',
        'us', 'hrv'],
       ['2003-08-04T04:37:20.130Z', '-60.532', '-43.411', '10', '7.6',
        'mwc', '315', 'us', 'usp000c41f', '2022-05-02T16:40:11.734Z',
        'us', 'hrv'],
       ['2003-09-25T19:50:06.360Z', '41.815', '143.91', '27', '8.16',
        'mww', '', 'official', 'official20030925195006360_27',
        '2022-05-02T16:44:11.135Z', 'us', 'duputel'],
       ['2003-11-17T06:43:06.800Z', '51.146', '178.65', '33', '7.8',
        'mwc', '604', 'us', 'usp000cd1n', '2022-05-02T16:54:06.367Z',
        'us', 'hrv'],
       ['2004-11-11T21:26:41.150Z', '-8.152', '124.868', '10', '7.5',
        'mwc', '301', 'us', 'usp000d85g', '2022-07-14T19:45:32.524Z',
        'us', 'hrv'],
       ['2004-12-23T14:59:04.410Z', '-49.312', '161.345', '10', '8.1',
        'mwc', '331', 'us', 'usp000db93', '2022-05-02T17:38:24.182Z',
        'us', 'hrv'],
       ['2004-12-26T00:58:53.450Z', '3.295', '95.982', '30', '9.1', 'mw',
        '601', 'official', 'official20041226005853450_30',
        '2022-07-14T19:04:56.531Z', 'us', 'official'],
       ['2005-03-28T16:09:36.530Z', '2.085', '97.108', '30', '8.6',
        'mww', '510', 'official', 'official20050328160936530_30',
        '2022-07-14T17:08:13.141Z', 'us', 'official'],
       ['2005-06-13T22:44:33.900Z', '-19.987', '-69.197', '115.6', '7.8',
        'mwb', '714', 'us', 'usp000dsw1', '2022-07-27T01:56:37.783Z',
        'us', 'us'],
       ['2005-09-09T07:26:43.730Z', '-4.539', '153.474', '90', '7.6',
        'mwc', '502', 'us', 'usp000dz2j', '2022-07-14T14:54:15.306Z',
        'us', 'hrv'],
       ['2005-09-26T01:55:37.670Z', '-5.678', '-76.398', '115', '7.5',
        'mwb', '696', 'us', 'usp000e09h', '2022-07-14T14:40:30.080Z',
        'us', 'us'],
       ['2005-10-08T03:50:40.800Z', '34.539', '73.588', '26', '7.6',
        'mwc', '724', 'us', 'usp000e12e', '2022-07-14T14:31:38.274Z',
        'us', 'hrv'],
       ['2006-01-27T16:58:53.670Z', '-5.473', '128.131', '397', '7.6',
        'mwc', '560', 'us', 'usp000e8ys', '2022-07-14T12:36:43.741Z',
        'us', 'hrv'],
       ['2006-04-20T23:25:02.150Z', '60.949', '167.089', '22', '7.6',
        'mwc', '579', 'us', 'usp000ef1h', '2022-05-02T15:29:42.339Z',
        'us', 'hrv'],
       ['2006-05-03T15:26:40.290Z', '-20.187', '-174.123', '55', '8',
        'mwc', '626', 'us', 'usp000eg5g', '2022-07-14T11:33:02.464Z',
        'us', 'hrv'],
       ['2006-07-17T08:19:26.680Z', '-9.284', '107.419', '20', '7.7',
        'mwc', '357', 'us', 'usp000ensm', '2022-07-14T10:46:46.015Z',
        'us', 'hrv'],
       ['2006-11-15T11:14:13.570Z', '46.592', '153.266', '10', '8.3',
        'mwc', '576', 'us', 'usp000exfn', '2022-07-14T09:00:34.950Z',
        'us', 'gcmt'],
       ['2007-01-13T04:23:21.160Z', '46.243', '154.524', '10', '8.1',
        'mwc', '606', 'us', 'usp000f2ab', '2022-07-14T08:15:53.956Z',
        'us', 'gcmt'],
       ['2007-01-21T11:27:45.060Z', '1.065', '126.282', '22', '7.5',
        'mwc', '570', 'us', 'usp000f34b', '2022-07-14T08:08:59.870Z',
        'us', 'gcmt'],
       ['2007-04-01T20:39:58.710Z', '-8.466', '157.043', '24', '8.1',
        'mwc', '439', 'us', 'usp000f83m', '2022-07-14T07:01:32.418Z',
        'us', 'gcmt'],
       ['2007-08-08T17:05:04.920Z', '-5.859', '107.419', '280', '7.5',
        'mwc', '228', 'us', 'usp000fj6k', '2022-05-09T19:12:38.751Z',
        'us', 'gcmt'],
       ['2007-08-15T23:40:57.890Z', '-13.386', '-76.603', '39', '8',
        'mwc', '625', 'us', 'usp000fjta', '2022-08-14T02:30:07.224Z',
        'us', 'gcmt'],
       ['2007-09-12T11:10:26.830Z', '-4.438', '101.367', '34', '8.4',
        'mww', '411', 'official', 'official20070912111026830_34',
        '2022-07-14T03:10:27.019Z', 'us', 'official'],
       ['2007-09-12T23:49:03.720Z', '-2.625', '100.841', '35', '7.9',
        'mwc', '446', 'us', 'usp000fn2b', '2022-07-14T03:06:52.110Z',
        'us', 'gcmt'],
       ['2007-09-28T13:38:57.880Z', '22.013', '142.668', '260', '7.5',
        'mwc', '558', 'us', 'usp000fpca', '2022-07-14T02:30:19.087Z',
        'us', 'gcmt'],
       ['2007-11-14T15:40:50.530Z', '-22.247', '-69.89', '40', '7.7',
        'mwc', '610', 'us', 'usp000fshy', '2022-07-27T00:50:29.919Z',
        'us', 'gcmt'],
       ['2007-12-09T07:28:20.820Z', '-25.996', '-177.514', '152.5',
        '7.8', 'mwc', '512', 'us', 'usp000fu3q',
        '2022-07-14T00:10:26.485Z', 'us', 'gcmt'],
       ['2008-05-12T06:28:01.570Z', '31.002', '103.322', '19', '7.9',
        'mwc', '774', 'us', 'usp000g650', '2022-08-09T08:58:40.211Z',
        'us', 'us'],
       ['2008-07-05T02:12:04.480Z', '53.882', '152.886', '632.8', '7.7',
        'mwc', '777', 'us', 'usp000gbc0', '2022-07-13T04:39:04.928Z',
        'us', 'us'],
       ['2009-01-03T19:43:50.650Z', '-0.414', '132.885', '17', '7.7',
        'mwc', '288', 'us', 'usp000gs2d', '2022-07-15T03:38:55.850Z',
        'us', 'gcmt'],
       ['2009-03-19T18:17:40.470Z', '-23.043', '-174.66', '31', '7.6',
        'mwc', '504', 'us', 'usp000gv5p', '2022-07-15T06:13:32.074Z',
        'us', 'us'],
       ['2009-07-15T09:22:29.030Z', '-45.762', '166.562', '12', '7.8',
        'mwc', '434', 'us', 'usp000gz8j', '2022-07-15T13:59:45.046Z',
        'wel', 'gcmt'],
       ['2009-08-10T19:55:38.730Z', '14.099', '92.902', '24', '7.5',
        'mwc', '303', 'us', 'usp000h05x', '2022-07-15T15:33:51.153Z',
        'us', 'us'],
       ['2009-09-29T17:48:10.990Z', '-15.489', '-172.095', '18', '8.1',
        'mwc', '520', 'us', 'usp000h1ys', '2022-07-15T18:20:44.470Z',
        'us', 'gcmt'],
       ['2009-09-30T10:16:09.250Z', '-0.72', '99.867', '81', '7.6',
        'mwc', '498', 'us', 'usp000h237', '2022-07-15T18:24:11.761Z',
        'us', 'gcmt'],
       ['2009-10-07T22:03:14.470Z', '-13.006', '166.51', '45', '7.7',
        'mww', '283', 'us', 'usp000h2g9', '2022-07-15T18:45:47.803Z',
        'us', 'us'],
       ['2009-10-07T22:18:51.240Z', '-12.517', '166.382', '35', '7.8',
        'mwc', '195', 'us', 'usp000h2gd', '2022-05-02T21:29:39.820Z',
        'us', 'us'],
       ['2010-02-27T06:34:11.530Z', '-36.122', '-72.898', '22.9', '8.8',
        'mww', '454', 'official', 'official20100227063411530_30',
        '2022-08-23T21:21:38.351Z', 'us', 'official'],
       ['2010-04-06T22:15:01.580Z', '2.383', '97.048', '31', '7.8',
        'mwc', '352', 'us', 'usp000hat0', '2022-05-02T22:39:44.108Z',
        'us', 'gcmt'],
       ['2010-06-12T19:26:50.460Z', '7.881', '91.936', '35', '7.5',
        'mwc', '514', 'us', 'usp000hdwb', '2022-07-16T15:24:55.383Z',
        'us', 'gcmt'],
       ['2010-07-23T22:51:11.840Z', '6.497', '123.48', '578', '7.6',
        'mwc', '340', 'us', 'usp000hgmh', '2022-07-18T17:00:38.641Z',
        'us', 'us'],
       ['2010-07-23T23:15:10.190Z', '6.776', '123.259', '640.6', '7.5',
        'mwc', '441', 'us', 'usp000hgmq', '2022-07-18T17:02:13.829Z',
        'us', 'gcmt'],
       ['2010-10-25T14:42:22.460Z', '-3.487', '100.082', '20.1', '7.8',
        'mwc', '379', 'us', 'usp000hnj4', '2022-07-18T22:57:12.869Z',
        'us', 'gcmt'],
       ['2011-03-11T05:46:24.120Z', '38.297', '142.373', '29', '9.1',
        'mww', '541', 'official', 'official20110311054624120_30',
        '2022-07-19T08:00:46.915Z', 'us', 'official'],
       ['2011-03-11T06:15:40.280Z', '36.281', '141.111', '42.6', '7.9',
        'mwc', '163', 'us', 'usp000hvpa', '2022-08-13T17:38:32.116Z',
        'us', 'us'],
       ['2011-03-11T06:25:50.300Z', '38.058', '144.59', '18.6', '7.7',
        'mwc', '507', 'us', 'usp000hvpg', '2022-07-19T08:04:51.126Z',
        'us', 'us'],
       ['2011-07-06T19:03:18.260Z', '-29.539', '-176.34', '17', '7.6',
        'mww', '567', 'us', 'usp000j48h', '2022-07-19T19:32:13.101Z',
        'us', 'us'],
       ['2012-04-11T08:38:36.720Z', '2.327', '93.063', '20', '8.6', 'mw',
        '499', 'official', 'official20120411083836720_20',
        '2022-05-03T15:35:45.817Z', 'us', 'official'],
       ['2012-04-11T10:43:10.850Z', '0.802', '92.463', '25.1', '8.2',
        'mwc', '341', 'us', 'usp000jhjb', '2022-05-03T15:35:50.003Z',
        'us', 'us'],
       ['2012-08-14T02:59:38.460Z', '49.8', '145.064', '583.2', '7.7',
        'mww', '862', 'us', 'usp000jq9h', '2022-05-03T15:46:15.720Z',
        'us', 'us'],
       ['2012-08-31T12:47:33.380Z', '10.811', '126.638', '28', '7.6',
        'mww', '682', 'us', 'usp000jr83', '2022-05-03T15:48:46.699Z',
        'us', 'us'],
       ['2012-09-05T14:42:07.800Z', '10.085', '-85.315', '35', '7.6',
        'mww', '703', 'us', 'usp000jrsw', '2022-05-03T15:49:28.845Z',
        'us', 'us'],
       ['2012-10-28T03:04:08.820Z', '52.788', '-132.101', '14', '7.8',
        'mww', '807', 'us', 'usp000juhz', '2022-05-03T16:36:15.746Z',
        'us', 'us'],
       ['2013-01-05T08:58:14.957Z', '55.228', '-134.8591', '8.7', '7.5',
        'mw', '', 'ak', 'ak0138esnzr', '2022-05-03T16:02:50.203Z', 'ak',
        'ak'],
       ['2013-02-06T01:12:25.830Z', '-10.799', '165.114', '24', '8',
        'mww', '460', 'us', 'usc000f1s0', '2022-07-24T17:28:55.652Z',
        'us', 'us'],
       ['2013-04-16T10:44:20.180Z', '28.033', '61.996', '80', '7.7',
        'mww', '506', 'us', 'usb000g7x7', '2022-07-24T23:40:43.236Z',
        'us', 'us'],
       ['2013-05-24T05:44:48.980Z', '54.892', '153.221', '598.1', '8.3',
        'mww', '385', 'us', 'usb000h4jh', '2022-07-25T02:58:04.098Z',
        'us', 'us']], dtype='<U28')

In [20]:
len(hist_stainfo)

35202

In [25]:
stalons = hist_stainfo[:][:,1]
stalats = hist_stainfo[:][:,2]
netstas = hist_stainfo[:][:,0]
eventids = hist_stainfo[:][:,3]

In [26]:
ds = {'netsta': netstas, 'lon': stalons, 'lat': stalats, 'eventid': eventids}
histstas = pd.DataFrame(data=ds)

In [27]:
histstas

        netsta       lon      lat     eventid
0      IU.GUMO  144.8684  13.5893  usp0009qb4
1      IU.GUMO  144.8684  13.5893  usp0009qb4
2      IU.GUMO  144.8684  13.5893  usp0009qb4
3      IU.MAJO  138.2041  36.5457  usp0009qb4
4      IU.MAJO  138.2041  36.5457  usp0009qb4
...        ...       ...      ...         ...
35197  US.LBNH  -71.9259  44.2401  usb000h4jh
35198  TA.M48A  -71.9259  44.2401  usb000h4jh
35199  TA.M48A  -71.9259  44.2401  usb000h4jh
35200  TA.M48A  -71.9259  44.2401  usb000h4jh
35201  II.BORG  -21.3268  64.7474  usb000h4jh

[35202 rows x 4 columns]

In [28]:
nodup_histstas = histstas.drop_duplicates()

In [29]:
nodup_histstas

        netsta       lon      lat     eventid
0      IU.GUMO  144.8684  13.5893  usp0009qb4
3      IU.MAJO  138.2041  36.5457  usp0009qb4
6      IU.TATO  121.4971  24.9735  usp0009qb4
9      IU.INCN  126.6244  37.4777  usp0009qb4
12      IC.SSE  121.1908  31.0948  usp0009qb4
...        ...       ...      ...         ...
35191  TA.M50A  -83.0428  41.4035  usb000h4jh
35194  TA.N49A  -84.1825   40.922  usb000h4jh
35197  US.LBNH  -71.9259  44.2401  usb000h4jh
35198  TA.M48A  -71.9259  44.2401  usb000h4jh
35201  II.BORG  -21.3268  64.7474  usb000h4jh

[13449 rows x 4 columns]

In [30]:
bad_hist_indices = np.loadtxt('/home/sdybing/mlaapde/codes/bad_historic_waves.txt').astype(int)

In [31]:
np_nodup = nodup_histstas.to_numpy()
print(np_nodup.shape)

(13449, 4)

In [32]:
np_nodup_dropbad = np.delete(np_nodup, bad_hist_indices, axis = 0)
print(np_nodup_dropbad.shape)

(13151, 4)

In [33]:
np_nodup_dropbad

array([['IU.GUMO', '144.8684', '13.5893', 'usp0009qb4'],
       ['IU.MAJO', '138.2041', '36.5457', 'usp0009qb4'],
       ['IU.TATO', '121.4971', '24.9735', 'usp0009qb4'],
       ...,
       ['US.LBNH', '-71.9259', '44.2401', 'usb000h4jh'],
       ['TA.M48A', '-71.9259', '44.2401', 'usb000h4jh'],
       ['II.BORG', '-21.3268', '64.7474', 'usb000h4jh']], dtype=object)

In [34]:
netstas_final = np_nodup_dropbad[:,0]
lons_final = np_nodup_dropbad[:,1]
lats_final = np_nodup_dropbad[:,2]
eventids_final = np_nodup_dropbad[:,3]

In [36]:
stations = np_nodup_dropbad
eqs = hist_eqs

In [48]:
stations

array([['IU.GUMO', '144.8684', '13.5893', 'usp0009qb4'],
       ['IU.MAJO', '138.2041', '36.5457', 'usp0009qb4'],
       ['IU.TATO', '121.4971', '24.9735', 'usp0009qb4'],
       ...,
       ['US.LBNH', '-71.9259', '44.2401', 'usb000h4jh'],
       ['TA.M48A', '-71.9259', '44.2401', 'usb000h4jh'],
       ['II.BORG', '-21.3268', '64.7474', 'usb000h4jh']], dtype=object)

In [52]:
stations[:,2]

array(['13.5893', '36.5457', '24.9735', ..., '44.2401', '44.2401',
       '64.7474'], dtype=object)

In [56]:
eqs[:,2]

array(['143.73', '123.573', '102.087', '97.453', '152.169', '153.102',
       '151.781', '126.579', '-88.66', '70.232', '-73.641', '-72.077',
       '123.907', '90.541', '124.249', '-179.513', '178.495', '142.945',
       '134.297', '-147.4529', '-104.104', '68.382', '-43.411', '143.91',
       '178.65', '124.868', '161.345', '95.982', '97.108', '-69.197',
       '153.474', '-76.398', '73.588', '128.131', '167.089', '-174.123',
       '107.419', '153.266', '154.524', '126.282', '157.043', '107.419',
       '-76.603', '101.367', '100.841', '142.668', '-69.89', '-177.514',
       '103.322', '152.886', '132.885', '-174.66', '166.562', '92.902',
       '-172.095', '99.867', '166.51', '166.382', '-72.898', '97.048',
       '91.936', '123.48', '123.259', '100.082', '142.373', '141.111',
       '144.59', '-176.34', '93.063', '92.463', '145.064', '126.638',
       '-85.315', '-132.101', '-134.8591', '165.114', '61.996', '153.221'],
      dtype='<U28')

In [53]:
source_eventids = eqs[:,8]

In [54]:
source_eventids

array(['usp0009qb4', 'usp0009sbh', 'usp0009txv', 'usp0009ut0',
       'usp000a3qq', 'usp000a3sp', 'usp000a45f', 'usp000a70h',
       'usp000a7m5', 'usp000a8ds', 'official20010623203314130_33',
       'usp000aj40', 'usp000ar78', 'usp000asvm', 'usp000azqw',
       'usp000ba6g', 'usp000ba6m', 'usp000bbpf', 'usp000be54',
       'ak002e435qpj', 'usp000bnyr', 'usp000c2ka', 'usp000c41f',
       'official20030925195006360_27', 'usp000cd1n', 'usp000d85g',
       'usp000db93', 'official20041226005853450_30',
       'official20050328160936530_30', 'usp000dsw1', 'usp000dz2j',
       'usp000e09h', 'usp000e12e', 'usp000e8ys', 'usp000ef1h',
       'usp000eg5g', 'usp000ensm', 'usp000exfn', 'usp000f2ab',
       'usp000f34b', 'usp000f83m', 'usp000fj6k', 'usp000fjta',
       'official20070912111026830_34', 'usp000fn2b', 'usp000fpca',
       'usp000fshy', 'usp000fu3q', 'usp000g650', 'usp000gbc0',
       'usp000gs2d', 'usp000gv5p', 'usp000gz8j', 'usp000h05x',
       'usp000h1ys', 'usp000h237', 'usp000h2g9', 'usp000h2gd',
       'official20100227063411530_30', 'usp000hat0', 'usp000hdwb',
       'usp000hgmh', 'usp000hgmq', 'usp000hnj4',
       'official20110311054624120_30', 'usp000hvpa', 'usp000hvpg',
       'usp000j48h', 'official20120411083836720_20', 'usp000jhjb',
       'usp000jq9h', 'usp000jr83', 'usp000jrsw', 'usp000juhz',
       'ak0138esnzr', 'usc000f1s0', 'usb000g7x7', 'usb000h4jh'],
      dtype='<U28')

In [82]:
from obspy.geodetics import gps2dist_azimuth, kilometer2degrees

netsta_names = []
sta_eventids = []
sta_lons = []
sta_lats = []
source_lons = []
source_lats = []
dists_km = []
source_depths_km = []

for idx in range(len(stations)):
    
    netsta_name = stations[idx,0]
    sta_eventid = stations[idx,3]
    sta_lon = float(stations[idx,1])
    sta_lat = float(stations[idx,2])
    
    i = np.where(sta_eventid == source_eventids)[0]
#     print(i)
    
    source_lon = float(eqs[i,2][0])
    source_lat = float(eqs[i,1][0])
    source_depth = float(eqs[i,3][0])
    
#     print('--------------------------')
#     print('Sta eventid: ' + str(sta_eventid))
#     print('Source eventid: ' + str(source_eventids[i][0]))
#     print('Sta lon: ' + str(sta_lon))
#     print('Sta lat: ' + str(sta_lat))
#     print('Source lon: ' + str(source_lon))
#     print('Source lat: ' + str(source_lat))
#     print('Source depth: ' + str(source_depth))
    
    distaz = gps2dist_azimuth(source_lat, source_lon, sta_lat, sta_lon)
    dist_m = distaz[0]
    dist_km = dist_m/1000
    
    netsta_names.append(netsta_name)
    sta_eventids.append(sta_eventid)
    sta_lons.append(sta_lon)
    sta_lats.append(sta_lat)
    source_lons.append(source_lon)
    source_lats.append(source_lat)
    dists_km.append(dist_km)
    source_depths_km.append(source_depth)
    
#     print('Hypocentral distance (km): ' + str(dist_km))
    
#     if idx == 0:
#         print(dists_km)
#         print(dists_deg)

print(len(netsta_names))
print(len(sta_eventids))
print(len(sta_lons))
print(len(sta_lats))
print(len(source_lons))
print(len(source_lats))
print(len(dists_km))
print(len(source_depths_km))

13151
13151
13151
13151
13151
13151
13151
13151

In [83]:
hist_metadata = np.column_stack((np.array(sta_eventids),np.array(netsta_names),np.array(sta_lons),np.array(sta_lats),np.array(source_lons),np.array(source_lats),np.array(dists_km),np.array(source_depths_km)))
hist_metadata.shape

(13151, 8)

In [84]:
print(hist_metadata[0])

['usp0009qb4' 'IU.GUMO' '144.8684' '13.5893' '143.73' '22.338'
 '975.7817879487706' '126.5']

In [85]:
np.save('/home/sdybing/mlaapde/hist_metadata_hypdist.npy', hist_metadata)

In [ ]:
# Compare columns with test_metadata_hypdist for MLAAPDE data to put them together to do full distance analysis